body {
  background-color: #eda28a;
  color: black;
}

* {
  box-sizing: border-box;
}

main {
  max-width: 300px;
  margin: 20px auto;
}



form {
  border: 3px solid #30313D;
  border-radius: 10px;
  padding: 5px;
  display: flex;

}


form input[type="text"] {
  background: none;
  border: 0;
  padding: 2px 8px;
  display: block;
  width: 100%;
  color: black;
}

form button {
  background-color: #d6542c;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
  margin: 2px;


}


div.taskCard {
  background-color: #da481b;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  display: flex;
  font-size: large;
  transition: opacity 0.3s linear;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

div.taskCard svg {
  height: 20px;
  margin: 6px;
  color: white;
}

div.taskCard.done {
  opacity: 0.4;
  text-decoration: line-through;
}


button.deleteBtn {
  position: absolute;

  top: 0;
  right: 0;
  background-color: beige;
  border-radius: 1;
  cursor: pointer;

}